:root {
  --black: #130103;
  --white: #ffffffe6;
  --color-btn-hover: #ffffff1a;
  /* --background-body: linear-gradient(100deg, rgb(59, 82, 194), rgb(220, 220, 220)); */
  --background-body: #030F26;
  --background-container: #F2F2F2;
  --button-color: #5E9FF2;
  --screen-color: #e8e8e8;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:  Verdana, Geneva, Tahoma, sans-serif
}

body{
  background: var(--background-body);
  width: 100%;
  min-height: 100vh;
}

.innerWidth {
  width: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.border {
  border: 1px solid var(--black);
}
